{% extends 'base.html' %}

{% block content %}

<div class="container shadow p-3 mb-5 bg-body rounded" id="projectsContainer">
    <div class="container" id="containerHeader">
      <div class="d-flex justify-content-end">
        {% include 'createProjectModal.html' %}
      </div>
    </div>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Project</th>
          <th scope="col">Description</th>
          <th scope="col">Contributors</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects%}
          <tr>
            <th scope="row">{{ project[title] }}</th>
            <td>{{ project[description] }}</td>
            <td>{{ project[contributors] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

<div class="container shadow p-3 mb-5 bg-body rounded" id="graphsContainer">
  <div class="row">
    <div class="col">
      tickets by type
    </div>
    <div class="col">
      tickets by priority
    </div>
    <div class="col">
      tickets by status
    </div>
  </div>
</div>

{% endblock %}
