{% extends 'base.html' %}

{% block content %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawTicketsByProjectChart() {

    var ticketsByProjectData = {{ tickets_by_project_data | safe }};

    var data = google.visualization.arrayToDataTable(ticketsByProjectData);

    var options = {
      title: 'Tickets by Project'
    };

    var chart = new google.visualization.PieChart(document.getElementById('tickets-project-piechart'));

    chart.draw(data, options);
  }

  function drawTicketsByPriorityChart() {

    var ticketsByPriorityData = {{ tickets_by_priority_data | safe }};

    var data = google.visualization.arrayToDataTable(ticketsByPriorityData);

    var options = {
      title: 'Tickets by Priority'
    };

    var chart = new google.visualization.PieChart(document.getElementById('tickets-priority-piechart'));

    chart.draw(data, options);
  }

  function drawTicketsByStatusChart() {

    var ticketsByStatusData = {{ tickets_by_status_data | safe }};

    var data = google.visualization.arrayToDataTable(ticketsByStatusData);

    var options = {
      title: 'Tickets by Status'
    };

    var chart = new google.visualization.PieChart(document.getElementById('tickets-status-piechart'));

    chart.draw(data, options);
  }
</script>

<div class="container shadow p-3 mb-5 bg-body rounded" id="projectsContainer">
    <div class="container" id="containerHeader">
      <div class="d-flex justify-content-end">
        {% include 'createProjectModal.html' %}
      </div>
    </div>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Project</th>
          <th scope="col">Description</th>
          <th scope="col">Contributors</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
          <tr>
            <th scope="row">{{ project['title'] }}</th>
            <td>{{ project['description'] }}</td>
            <td>{{ project['contributors'] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

<div class="container shadow p-3 mb-5 bg-body rounded" id="graphsContainer">
  <div class="row">
    <div class="col">
      <div id="tickets-project-piechart" style="width: 450px; height: 250px;"></div>
    </div>
    <div class="col">
      <div id="tickets-priority-piechart" style="width: 450px; height: 250px;"></div>
    </div>
    <div class="col">
      <div id="tickets-status-piechart" style="width: 450px; height: 250px;"></div>
    </div>
  </div>
</div>

{% endblock %}
