{% extends 'base.html' %}

{% block content %}

<div class="container shadow p-3 mb-5 bg-body rounded" id="projectsContainer">
    <div class="container" id="containerHeader">
      <div class="d-flex justify-content-end">
        {% include 'createTicketModal.html' %}
      </div>
    </div>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Ticket</th>
          <th scope="col">Project</th>
          <th scope="col">Description</th>
          <th scope="col">Priority</th>
        </tr>
      </thead>
      <tbody>
        {% for ticket in tickets %}
          <tr>
            <form id="ticket-row" method="GET" action="/processticket">
              <th scope="row">{{ ticket['title'] }}</th>
              <td>{{ ticket['project'] }}</td>
              <td>{{ ticket['description'] }}</td>
              <td>{{ ticket['priority'] }}</td>

              <!-- Trashcan delete button -->
              <td>
                <button type="submit" form="ticket-row" name="ticket-title" value="del-{{ ticket['title'] }}" style="border:none; background-color: transparent;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
                </button>

              </td>

              <!-- Checkmark button -->
              <td>
                <button type="submit" form="ticket-row" name="ticket-title" value="res-{{ ticket['title'] }}" style="border:none; background-color: transparent;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="{% if ticket['status'] == 'Resolved' %} #239F00 {% else %} currentColor {% endif %}" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                  </svg>
                </button>
              </td>

              <!-- In Progress Hammer button -->
              <td>
                <button type="submit" form="ticket-row" name="ticket-title" value="wor-{{ ticket['title'] }}" style="border:none; background-color: transparent;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  fill="{% if ticket['status'] == 'New' %} currentColor {% else %} #239F00 {% endif %}" class="bi bi-hammer" viewBox="0 0 16 16">
                    <path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5.009 5.009 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334z"/>
                  </svg>
                </button>
              </td>
            </form>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

<div class="container shadow p-3 mb-5 bg-body rounded" id="selectedTicketContainer">
  <div class="container" id="selectedTicketContainerHeader">
    <div class="d-flex justify-content-start">
      <h5>Selected Ticket Info</h5>
    </div>
  </div>

  <div class="container" id="selectedTicketMainContainer">

    <div class="container" id="selectedTicketInfoContainer">
      <div class="container">
        <div class="row">
          <div class="col">
            1 of 2
          </div>
          <div class="col">
            2 of 2
          </div>
        </div>
        <div class="row">
          <div class="col">
            1 of 3
          </div>
          <div class="col">
            2 of 3
          </div>
          <div class="col">
            3 of 3
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="selectedTicketCommentContainer">
      <div class="d-flex justify-content-start">
        <h5>Comments</h5>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter comment" aria-label="commentInput" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Comment</button>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}