{% extends 'base.html' %}

{% block content %}

<div class="container shadow p-3 mb-5 bg-body rounded" id="projectsContainer">
    <div class="container" id="containerHeader">
      <div class="d-flex justify-content-end">
        {% include 'createTicketModal.html' %}
      </div>
    </div>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Ticket Title</th>
          <th scope="col">Description</th>
          <th scope="col">Author</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Ticket 1</th>
          <td>Test ticket</td>
          <td>Taylor</td>
        </tr>
        <tr>
          <th scope="row">Ticket 2</th>
          <td>Test ticket 2</td>
          <td>Harry</td>
        </tr>
        <tr>
          <th scope="row">Ticket 3</th>
          <td>Test ticket 3</td>
          <td>Otto</td>
        </tr>
      </tbody>
    </table>
</div>

<div class="container shadow p-3 mb-5 bg-body rounded" id="selectedTicketContainer">
  <div class="container" id="selectedTicketContainerHeader">
    <div class="d-flex justify-content-start">
      <h5>Selected Ticket Info</h5>
    </div>
  </div>

  <div class="container" id="selectedTicketMainContainer">

    <div class="container" id="selectedTicketInfoContainer">
      <div class="container">
        <div class="row">
          <div class="col">
            1 of 2
          </div>
          <div class="col">
            2 of 2
          </div>
        </div>
        <div class="row">
          <div class="col">
            1 of 3
          </div>
          <div class="col">
            2 of 3
          </div>
          <div class="col">
            3 of 3
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="selectedTicketCommentContainer">
      <div class="d-flex justify-content-start">
        <h5>Comments</h5>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter comment" aria-label="commentInput" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Comment</button>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}